@model PlayDiscGolf.Models.ViewModels.CourseFormViewModel

@{
    Layout = null;
}


<div class="container mb-4">
    <form method="post" asp-action="EditCourse" asp-controller="AdminCourse">
        @Html.AntiForgeryToken()
        <input type="number" hidden asp-for="@Model.CourseID" value="@Model.CourseID">
        <input type="number" hidden asp-for="@Model.LocationID" value="@Model.LocationID">

        <div class="form-group">
            <span class="text-warning" asp-validation-for="@Model.Name"></span>
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" type="text" class="form-control" id="nameInput" aria-describedby="nameInput" placeholder="">
        </div>
        <div class="form-check">
            <input asp-for="@Model.Main" type="checkbox" class="form-check-input" id="exampleCheck1">
            <label asp-for="@Model.Main" class="form-check-label"></label>
        </div>
        <div class="form-group mt-4">
            <span class="text-warning" asp-validation-for="@Model.HolesTotal"></span>
            <label asp-for="@Model.HolesTotal"></label>
            <input asp-for="@Model.HolesTotal" type="number" class="form-control" id="holesInput" aria-describedby="holesInput" placeholder="">
        </div>
        @for (int i = 0; i < Model.Holes.Count; i++)
        {
            <input hidden type="number" class="form-control" maxlength="5" asp-for="@Model.Holes[i].HoleNumber" />
            <input hidden type="number" class="form-control" maxlength="5" asp-for="@Model.Holes[i].HoleID" />
            <input hidden type="number" class="form-control" maxlength="5" asp-for="@Model.Holes[i].CourseID" />
            <div class="bg-light border">
                <div class="form-group mt-4 ml-4 mr-4 ">
                    <div class="form-group row mt-2">
                        <span class="text-warning" asp-validation-for="@Model.Holes[i].HoleNumber"></span>
                        <label class="col-sm-2 col-form-label" asp-for="@Model.Holes[i].HoleNumber"></label>
                        <div class="col-sm-7">
                            <input disabled type="number" class="form-control" maxlength="5" asp-for="@Model.Holes[i].HoleNumber" />
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <span class="text-warning" asp-validation-for="@Model.Holes[i].ParValue"></span>
                        <label class="col-sm-2 col-form-label" type="number" asp-for="@Model.Holes[i].ParValue"></label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" maxlength="5" asp-for="@Model.Holes[i].ParValue" />
                        </div>

                    </div>
                    <div class="form-group row mt-2">
                        <span class="text-warning" asp-validation-for="@Model.Holes[i].Distance"></span>
                        <label class="col-sm-2 col-form-label" asp-for="@Model.Holes[i].Distance"></label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" maxlength="5" asp-for="@Model.Holes[i].Distance" />
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="form-group">
            <span class="text-warning" asp-validation-for="@Model.TotalParValue"></span>
            <label asp-for="@Model.TotalParValue"></label>
            <input asp-for="@Model.TotalParValue" type="number" class="form-control" id="parvalueInput" aria-describedby="parvalueInput" placeholder="">
        </div>
        <div class="form-group">
            <span class="text-warning" asp-validation-for="@Model.TotalDistance"></span>
            <label asp-for="@Model.TotalDistance"></label>
            <input asp-for="@Model.TotalDistance" type="number" class="form-control" id="distanceInput" aria-describedby="distanceInput" placeholder="">
        </div>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
</div>
