@model PlayDiscGolf.Models.ViewModels.CourseFormViewModel

@{
    Layout = null;
    var holeCount = 0;

    if (Model.Holes == null || Model.Holes.Count < 1)
    {
        holeCount = 0;
    }
    else if (Model.Holes.Count > 0)
    {
        holeCount = Model.HolesTotal;
    }
}

@if (!string.IsNullOrEmpty(Model.Name))
{
    <div class="container mb-4">
        <form method="post" asp-action="EditCourse" asp-controller="AdminCourse">
            @Html.AntiForgeryToken()
            <input hidden asp-for="@Model.CreateHolesViewModel" value="@Model.CreateHolesViewModel">
            @if (Model.CreateHolesViewModel != null)
            {
                <input hidden asp-for="@Model.CreateHolesViewModel.CourseID" value="@Model.CreateHolesViewModel.CourseID">
                <input hidden asp-for="@Model.CreateHolesViewModel.Holes" value="@Model.CreateHolesViewModel.Holes">
            }
            <input hidden asp-for="@Model.CourseID" value="@Model.CourseID">
            <input hidden asp-for="@Model.ApiID" value="@Model.ApiID">
            <input hidden asp-for="@Model.ApiParentID" value="@Model.ApiParentID">
            <input hidden asp-for="@Model.FullName" value="@Model.FullName">
            <input hidden asp-for="@Model.CountryCode" value="@Model.CountryCode">
            <input hidden asp-for="@Model.Longitude" value="@Model.Longitude">
            <input hidden asp-for="@Model.Latitude" value="@Model.Latitude">
            <input id="courseID" type="text" hidden value="@Model.CourseID.ToString()">

            <div class="form-group">
                <span class="text-warning" asp-validation-for="@Model.Name"></span>
                <label asp-for="@Model.Area"></label>
                <input asp-for="@Model.Area" type="text" class="form-control" id="areaInput" aria-describedby="areaInput" placeholder="">
            </div>
            <div class="form-group">
                <span class="text-warning" asp-validation-for="@Model.Name"></span>
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" type="text" class="form-control" id="nameInput" aria-describedby="nameInput" placeholder="">
            </div>
            <div class="form-check">
                <input asp-for="@Model.Main" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label asp-for="@Model.Main" class="form-check-label"></label>
            </div>

            <div class="form-group mt-4">
                <span class="text-warning" asp-validation-for="@Model.HolesTotal"></span>
                <label asp-for="@Model.HolesTotal"></label>
                <input asp-for="@Model.HolesTotal" type="number" class="form-control" id="editHoles" aria-describedby="holesInput" placeholder="">
            </div>
            @if (holeCount >= 0)
            {
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#partialHoles" aria-expanded="false" aria-controls="partialHoles">
                        Show Holes
                    </button>
                </p>
                <div class="collapse" id="partialHoles">
                    @await Html.PartialAsync("_createHoles", Model.CreateHolesViewModel)
                </div>
            }
            
            <div class="form-group">
                <span class="text-warning" asp-validation-for="@Model.TotalParValue"></span>
                <label asp-for="@Model.TotalParValue"></label>
                <input asp-for="@Model.TotalParValue" type="number" class="form-control" id="parvalueInput" aria-describedby="parvalueInput" placeholder="">
            </div>
            <div class="form-group">
                <span class="text-warning" asp-validation-for="@Model.TotalDistance"></span>
                <label asp-for="@Model.TotalDistance"></label>
                <input asp-for="@Model.TotalDistance" type="number" class="form-control" id="distanceInput" aria-describedby="distanceInput" placeholder="">
            </div>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </form>


    </div>
                    
 }
<script src="~/js/site.js" asp-append-version="true"></script>
