@using PlayDiscGolf.ViewModels.ScoreCard

@model ScoreCardGameOnViewModel

@{
    Layout = null;
    var meter = "m";
    var currentPage = Model.Hole.HoleNumber;
    var numberofHoleslooped = 0;
    var leftArrowHoleNumber = Model.Hole.HoleNumber - 1;
    var rightArrowHoleNumber = 0;
    var players = Model.ScoreCard.PlayerCards.OrderBy(x => x.TotalScore).ThenBy(x => x.UserID).ToList();


    if (Model.Hole.HoleNumber != 1)
    {
        rightArrowHoleNumber = Model.Hole.HoleNumber + 4;
    }
    else
    {
        rightArrowHoleNumber = Model.Hole.HoleNumber + 5;
    }
}
<div class="justify-content-between border-bottom border-dark m-0 text-center d-flex" style="background-color:#cccccc">
    <p class="h5 pl-3 pt-2 pt-b-3">Hole: @Model.Hole.HoleNumber </p>
    <p class="h5 pl-0 pt-2 pt-b-3">Par: @Model.Hole.ParValue</p>
    <p class="h5 pr-3 pt-2 pt-b-3">Distance: @Model.Hole.Distance m</p>
</div>

<div class="bg-transparent">
    <div class="card-body bg-warning" style="overflow-y: auto">

        @foreach (var player in players)
        {
            var holeCard = (player.HoleCards as IEnumerable<HoleCardViewModel>
            ).FirstOrDefault(h => h.HoleNumber == Model.Hole.HoleNumber);

            <div class="d-flex mb-3">
                @if (@player.TotalScore <= 0)
                {
                    <div class="pt-2 h5">@player.UserName (@player.TotalScore)</div>
                }
                else
                {
                    <div class="pt-2 h5">@player.UserName (+@player.TotalScore)</div>
                }
                <div class="ml-auto d-flex mt-0">
                    <div class="pb-0">
                        <a type="button" id="@player.UserName" class="btn text-success" asp-action="UpdateScoreCard" asp-controller="ScoreCard"
                           asp-route-scoreCardID="@Model.ScoreCard.ScoreCardID.ToString()" asp-route-holeNumber="@Model.Hole.HoleNumber.ToString()" asp-route-addOrRemove="Minus"
                           asp-route-userName="@player.UserName" asp-route-courseID="@Model.ScoreCard.CourseID.ToString()" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#scoreCardLive">
                            <span style="color:tomato"><i class="far fa-minus-square fa-2x"></i></span>
                        </a>
                    </div>
                    @if (holeCard == null || holeCard.Score == 0)
                    {
                        <div class="pt-2 h4">0</div>
                    }
                    else
                    {
                        <div class="pt-2 h4">@holeCard.Score</div>
                    }
                    <div class="pb-0">
                        <a type="button" id="@player.PlayerCardID" class="btn text-success" asp-action="UpdateScoreCard" asp-controller="ScoreCard"
                           asp-route-scoreCardID="@Model.ScoreCard.ScoreCardID.ToString()" asp-route-holeNumber="@Model.Hole.HoleNumber.ToString()" asp-route-addOrRemove="Plus"
                           asp-route-userName="@player.UserName" asp-route-courseID="@Model.ScoreCard.CourseID.ToString()" data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#scoreCardLive">
                            <i class="far fa-plus-square fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="bg-transparent">
        <nav class="bg-transparent" aria-label="...">

            <ul class="pagination pagination-lg  justify-content-center">
                @if (currentPage != 1)
                {
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" asp-action="ChangeHole" asp-controller="ScoreCard"
                           asp-route-scoreCardID="@Model.ScoreCard.ScoreCardID.ToString()" asp-route-holeNumber="@leftArrowHoleNumber.ToString()" asp-route-courseID="@Model.ScoreCard.CourseID.ToString()"
                           data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#scoreCardLive">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    numberofHoleslooped++;
                }

                @{
                    var startpage = currentPage;

                    if(Model.ScoreCard.PlayerCards[0].HoleCards.Count > 5)
                    {
                        if (Model.Hole.HoleNumber + 1 == Model.ScoreCard.PlayerCards[0].HoleCards.Count)
                        {
                            startpage = startpage - 1;
                        }

                        if (Model.Hole.HoleNumber == Model.ScoreCard.PlayerCards[0].HoleCards.Count)
                        {
                            startpage = startpage - 2;
                        }
                    }


                }
                
                @for (int i = startpage; i < Model.ScoreCard.PlayerCards[0].HoleCards.Count + 1; i++)
                {
                    numberofHoleslooped++;

                    @if (Model.Hole.HoleNumber == i)
                    {
                        <li class="page-item active">
                            <a class="page-link" asp-action="ChangeHole" asp-controller="ScoreCard"
                               asp-route-scoreCardID="@Model.ScoreCard.ScoreCardID.ToString()" asp-route-holeNumber="@Model.Hole.HoleNumber.ToString()" asp-route-courseID="@Model.ScoreCard.CourseID.ToString()"
                               data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#scoreCardLive">@i <span class="sr-only">(current)</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="ChangeHole" asp-controller="ScoreCard"
                               asp-route-scoreCardID="@Model.ScoreCard.ScoreCardID.ToString()" asp-route-holeNumber="@i.ToString()" asp-route-courseID="@Model.ScoreCard.CourseID.ToString()"
                               data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#scoreCardLive">@i</a>
                        </li>
                    }
                    if (numberofHoleslooped == 4)
                    {
                        if (Model.Hole.HoleNumber + 3 == Model.ScoreCard.PlayerCards[0].HoleCards.Count)
                        {

                        }
                        else
                        {
                            break;
                        }

                    }
                }
                @if (Model.Hole.HoleNumber + 3 != Model.ScoreCard.PlayerCards[0].HoleCards.Count)
                {
                    @if (((Model.Hole.HoleNumber + 2) < Model.ScoreCard.PlayerCards[0].HoleCards.Count))
                    {
                        <li class="page-item">
                            <a class="page-link" aria-label="Next" asp-action="ChangeHole" asp-controller="ScoreCard"
                               asp-route-scoreCardID="@Model.ScoreCard.ScoreCardID.ToString()" asp-route-holeNumber="@rightArrowHoleNumber.ToString()" asp-route-courseID="@Model.ScoreCard.CourseID.ToString()"
                               data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#scoreCardLive">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    }
                }

            </ul>
        </nav>
    </div>
</div>



