@model PlayDiscGolf.ViewModels.Home.SearchFormHomePageViewModel

@{
    Layout = null;
}
<form id="SearchFormAjax" asp-action="SearchFormAjax" onsubmit="return jQueryAjaxPost(this);">
    <div class="form-group row">
        <input hidden asp-for="@Model.Countries" />
        <input hidden asp-for="@Model.Types" />
        <div class="col-sm-2 ml-xl-2 pb-4">
            <span class="text-danger" asp-validation-for="@Model.Country"></span>
            <select class=" form-control" asp-for="@Model.Country" asp-items="@Model.Countries">
            </select>
        </div>
        <div class="col-sm-2 ml-xl-2 pb-4">
            <span class="text-danger" asp-validation-for="@Model.Type"></span>
            <select class="form-control" asp-for="@Model.Type" asp-items="@Model.Types">
            </select>
        </div>
        <div class="col-sm-4 ml-xl-2 pb-4">
            <span class="text-danger" asp-validation-for="@Model.Query"></span>
            <input placeholder="Search here.." class="form-control" id="searchCourse" asp-for="@Model.Query">
        </div>
        <div class="col-sm-2 ml-xl-2 pb-4">
            <input type="submit" class="btn btn-primary mb-2 form-control" value="Search" />
        </div>
    </div>
</form>
<div id="searchFormResultHomePage" class="text-cente">
    @await Html.PartialAsync("_SearchFormResultHomePage", Model.SearchResultAjaxFormViewModel)
</div>

<script src="~/js/site.js" asp-append-version="true"></script>


