@model PlayDiscGolf.ViewModels.Course.CoursePageViewModel


@{
    var bestRound = "None";
    var averageRound = "None";
    var gamesCount = 0;



    if (Model.BestRound == "None")
    {

    }
    else
    {
        bestRound = Convert.ToInt32(Model.BestRound) > 0 ? "+" + Model.BestRound : Model.BestRound;
        averageRound = Convert.ToInt32(Model.AverageRound) > 0 ? "+" + Model.AverageRound : Model.AverageRound;

    }


}


<div class="container">
    <div class="row pt-5 m-auto row justify-content-md-center" >
        <div class="col-md-6 col-lg-6 pb-3">

            <div class="card card-custom border-primary border-0 border-left-0 border-right-0 border-top-0 bg-white text-primary">
                <div style="width: 100%"><iframe frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=@Model.Latitude,@Model.Longitude+(My%20Business%20Name)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
                <div class="card-body" style="overflow-y: auto">
                    <h4 class="card-title">@Model.FullName</h4>
                    <p class="card-text">Holes: @Model.TotalHoles</p>
                    <p class="card-text">Par: @Model.TotalParValue</p>
                    <p class="card-text">Distance: @Model.TotalDistance</p>
                    <p class="card-text">Played: @Model.NumberOfRounds.ToString()</p>
                    <p class="card-text">Best round: @bestRound</p>
                    <p class="card-text">Average round: @averageRound</p>
                </div>
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <a asp-action="CreateScoreCard" asp-controller="ScoreCard" asp-route-courseID="@Model.CourseID.ToString()" class="btn btn-primary">Start Course</a>
                    @if (Model.ScoreCards.Count > 0)
                    {
                        <a type="button" data-toggle="collapse" href="#collapseExampleScorecard" role="button" aria-expanded="false" aria-controls="collapseExampleScorecard" class="btn btn-outline-primary">History</a>
                    }
                </div>
            </div>
            <!-- Copy until here -->

        </div>
    </div>
    <div class="row pt-5 m-auto collapse" id="collapseExampleScorecard">
        @foreach (var scoreCard in Model.ScoreCards)
        {
            var currentHole = @scoreCard.PlayerCards.SelectMany(r => r.HoleCards).Where(c => c.Score > 0).Select(r => r.HoleNumber).Distinct().Count();

            if(currentHole == 0)
            {
                currentHole++;
            }

            gamesCount++;
            <div class="col-md-4 col-lg-4 pb-3">
                <div class="card card-custom  border-primary border-0 border-left-0 border-right-0 border-top-0 bg-white text-primary" style="height: 288px">

                    <div class="card-body" style="overflow-y: auto">
                        <h4 class="card-title">Game: @gamesCount</h4>
                        <p class="card-text">Start: @scoreCard.StartDate</p>
                        <p class="card-text">Holes played: @scoreCard.PlayerCards.SelectMany(r => r.HoleCards).Where(c => c.Score > 0).Select(r => r.HoleNumber).Distinct().Count() / @Model.TotalHoles</p>
                        @{ 
                            var owner = scoreCard.PlayerCards.FirstOrDefault(x => x.UserName == scoreCard.UserName);
                            var playerlist = scoreCard.PlayerCards;
                            playerlist.Remove(owner);
                            playerlist.Insert(0, owner);
                        }
                        @foreach (var playerCard in playerlist)
                        {
                            <p class="card-text">Name: @playerCard.UserName</p>
                            @if (playerCard.TotalScore > 0)
                            {
                                <p class="card-text">Score: +@playerCard.TotalScore</p>
                            }
                            else
                            {
                                <p class="card-text">Score: @playerCard.TotalScore</p>
                            }
                        }

                    </div>
                    <div class="card-footer" style="background: inherit; border-color: inherit;">
                        <a type="button" class="btn btn-primary" asp-action="OpenScoreCard" asp-controller="ScoreCard"
                           asp-route-scoreCardID="@scoreCard.ScoreCardID" asp-route-holeNumber="@currentHole">Open game</a>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
