@model PlayDiscGolf.ViewModels.ScoreCard.ScoreCardViewModel

<div id="refreshForm" class="container">

        <input id="ownerIDAjax" hidden asp-for="@Model.UserID">
        <input id="playerCardsListAjax" hidden asp-for="@Model.PlayerCards">
        <input id="courseIDAjax" hidden asp-for="@Model.CourseID">
        <input id="scoreCardIDAjax" hidden asp-for="@Model.ScoreCardID" />
        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Scorecard Owner</label>
            <input id="ownerUserNameAjax" readonly class="form-control" asp-for="@Model.UserName" value="@Model.UserName">
        </div>
        <div class="form-group">
            <div class="form-group row">
                <label for="addButton" class="col-sm-3 col-form-label">Players</label>
                <div class="col-sm-2">
                    <button data-target="#modalAddPlayer" data-toggle="modal" type="button" id="addButton" class="btn btn-success form-control">Add</button>
                </div>
            </div>
            <div id="playersInScoreCard">
                @await Html.PartialAsync("_PlayersInPlayerCard", Model.PlayerCards)
            </div>
        </div>
        <a asp-action="StartScoreCard" asp-controller="ScoreCard" class="btn btn-primary" >Start Game</a>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAddPlayer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add player</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-7 pb-4 pl-4">
                        <input placeholder="Write player name here" class="form-control" id="nameInputPlayAjax" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addPlayerAjax" type="button" class="btn btn-success">Add player</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

